@import 'mixins';
/*==========================
* Target: Global, index.vue
* Rule: MindBEMding
* Author: Rapahel-D
* Type: SSG
* Description: Fack me!(female only)
==========================*/

/*==========================
Layout
==========================*/
.l-wrapper {}
.l-side {}
.l-header {}
.l-footer {}
/*==========================
Component
==========================*/
.header {
  &__logo {

  }
  &__nav {

  }
  &__list {

  }
}
.footer {
  &__logo {

  }
  &__nav {

  }
  &__list {

  }
}
/*==========================
Modules
==========================*/
// Post single page
.single-post-pager {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #f0f;
  justify-content: space-between;
  &__list {
    display: flex;
    flex-wrap: nowrap;
  }
  &__icon {
    // width: 1em;
    // height: 1em;
    // background-color: green;
    display: block;
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
    svg {
      color: red;
    }
  }
}