@import 'mixins';
/*==========================
* Target: Global, index.vue
* Rule: MindBEMding
* Author: Rapahel-D
* Type: SSG
* Description: Fack me!(female only)
==========================*/

/*==========================
Layout
==========================*/
.l-section {
  @include verticalMargin();
  @include horizontalPadding();
}
.l-wrapper {
  max-width: 960px;
  @include verticalMargin(wrapper);
  @include horizontalPadding(wrapper);
}
.l-side {
  @include verticalMargin(side);
  @include horizontalPadding(side);
}
.l-header {
  @include verticalMargin(header);
  @include horizontalPadding(header);
}
.l-footer {
  @include verticalMargin(footer);
  @include horizontalPadding(footer);
}
/*==========================
Component
==========================*/
.header {
  &__logo {

  }
  &__nav {

  }
  &__list {

  }
}
.footer {
  &__logo {

  }
  &__nav {

  }
  &__list {

  }
}
/*==========================
Modules
==========================*/
// Post single page
.single-post-pager {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #f0f;
  justify-content: space-between;
  &__list {
    display: flex;
    flex-wrap: nowrap;
  }
  &__icon {
    // width: 1em;
    // height: 1em;
    // background-color: green;
    display: block;
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
    svg {
      color: red;
    }
  }
}