@import 'mixins';
/*==========================
* Target: Global, index.vue
* Rule: MindBEMding
* Author: Rapahel-D
* Type: SSG
* Description: Fack me!(female only)
==========================*/
/*==========================
Base & Utility
==========================*/
body {
  @include bgColor(background);
  @include fontColor(content)
}

[data-prefix="fab"],
[data-prefix="far"],
[data-prefix="fas"] {
  margin-right: .5em;
}
.logo {
  max-width: 100%;
  width: inherit;
}
.sabu-taitoru {
  text-align: center;
}
/*==========================
Layout
==========================*/
.l-section {
  @include verticalMargin();
  @include horizontalPadding();
}
.l-wrapper {
  margin: 0 auto;
  max-width: 960px;
  @include verticalMargin(wrapper);
  @include horizontalPadding(wrapper);
}
.l-side {
  @include verticalMargin(side);
  @include horizontalPadding(side);
}
.l-header {
  @include verticalMargin(header);
  @include horizontalPadding(header);
}
.l-footer {
  @include verticalMargin(footer);
  @include horizontalPadding(footer);
}
/*==========================
Component
==========================*/
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  @include mq() {
    
  }
  &__wrapper {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mq() {
      
      flex-wrap: nowrap;
    }
    
  }
  
  &__home-link {
    
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      width: calc(100% - 3em)
    
  }
  &__site-title {
    width: 12em;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 1em;
    
  }
  &__logo {
    width: 50%;
    @include mq() {
      width: 240px;
    }
    
  }
  &__toggle-btn {
    // position: absolute;
    // top: 1em;
    // right: 1em;
    display: block;
    width: 2em;
    height: 2em;
    background-color: #fff;
    position: relative;
    box-shadow: 1px 1px 1px #ccc;
    @include mq() {
      display: none;
    }
    &::before,
    &::after {
      content: '';
      display: block;
      background-color: #c00;
      width: 1em;
      height: 1px;
    }
    &::before {
      @include centeRingX(absolute, .8em);
    }
    &::after {
      @include centeRingX(absolute, 1.2em);
    }
    
    
  }
  &__nav {
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding-top: 1em;
    margin-top: 1em;
    position: relative;
    @include setBorder(1px, solid, base, top);
    @include mq() {
      display: flex;
      flex-wrap: nowrap;
      text-align: right;
      border-top-width: 0;
      justify-content: flex-end;
      margin-top: 0;
      padding-top: 0;
    }
    &-link {
      display: block;
      margin-bottom: 1em;
      padding-top: 1em;
      @include mq() {
        margin-right: 1em;
        margin-left: 1em;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    
  }
  
  
  
}
.footer {
  &__logo {

  }
  &__nav {

  }
  &__list {

  }
}

/*==========================
Modules
==========================*/

//////////////// Section
.section-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: .5em;
  color: #0d2538;
  @include mq() {
    margin-bottom: 1em;
  }
}

//////////////// Index.vue
.hero {
  padding-top: 68px;
  @include mq() {
    padding-top: 82px;
  }
  &__heading {
    @include bgColor(base);
    color: #fff;
    padding: .2em 1em;
    text-align: center;
    font-size: 1.6rem;
    padding-top: .5em;
    padding-bottom: .5em;
    line-height: 1.7;
  }
}
// GridSome links
.gridsome-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 15px;
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 1.2rem;
  @include mq() {
    flex-wrap: nowrap;
    font-size: 1.6rem;
    font-weight: bold;
  }
  a {
    
    display: block;
    color: #3b7aad;
    width: 100%;
    margin-bottom: .5em;
    @include mq() {
      margin-bottom: 0;
      text-align: center;
    }
    &:not(:first-of-type) {
      @include mq() {
        border-left: 1px solid #0d2538;
      }

    }
  }
}
// Feature
.feature {
  
  &__list {
    width: 100%;
    margin-bottom: 2em;
    @include mq() {
      margin-bottom: 4em;
      padding: 0 1em;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__image {
    width: 100%;
  }
  &__content {
    width: 100%;
    @include mq() {
      padding-left: 3em;
    }

  }
  &__title {
    text-align: center;
    margin-bottom: .5em;
    font-size: 1.8rem;
    @include mq() {
      font-size: 2.4rem;  
    }
  }
  &__list:nth-of-type(2n) &__image {
    @include mq() {
      order: 2;
    }
    
  }
  &__list:nth-of-type(2n) &__content {
    @include mq() {
      padding-left: 0;
      padding-right: 3em;
    }
    
  }

}




//////////////// Post single page
.single-post-pager {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #f0f;
  justify-content: space-between;
  &__list {
    display: flex;
    flex-wrap: nowrap;
  }
  &__icon {
    // width: 1em;
    // height: 1em;
    // background-color: green;
    display: block;
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
    svg {
      color: red;
    }
  }
}