@import 'mixins';
/*===================
*
===================*/
/*===================
* Fontawesomecheetsheet.vue
===================*/
.fa-table {
    width: 100%;
    margin-bottom: 5em;
    border-collapse: collapse;
    font-size: 1.2rem;
    & td, & th {
        border: 1px solid #bbb;
        padding: .2em;
        @include mq() {
            padding: .5em;
        }
    }
    &__row--heading {
        @include bgColor(accent1);
        color: #fff;
    }
    &__row--detail:nth-of-type(2n) {
        background-color: #eee;
    }
    &__cell--icon {
        text-align: center;
        // max-width: 3em;
        & svg {
            margin: 0;
        }
    }
    &__cell--prefix {
        text-align: center;
    }
    &__cell--code {
        white-space: nowrap;
        max-width: 10em;
        overflow-x: auto;
        @include mq() {
            max-width: 20em;
        }
        & code {
            border: 1px solid #ddd;
            background-color: #eee;
            color: #c00;
        }
    }
}