@import 'mixins';
/*===================
*
===================*/
/*===================
* Post style (Common)
===================*/
.post-list {
    border-bottom: 1px solid #ccc;
    padding: 2em 0;
    &:first-of-type {
        border-top: 1px solid #ccc;
    }
}
.post-list__title {
    border-left: .3em solid getColor(base);
    padding-left: .2em;
    line-height: 1.5;
    margin-bottom: 1em;

}
.post-list__date {
    color: #666;
    font-size: 1.2rem;
    margin-bottom: .5em;

}
.post-list__content {
    margin-bottom: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.post-list__link {
    text-align: right;
    & a {
        background-color: getColor(accent1);
        color: #fff;
        font-weight: bold;
        padding: .5em 1em;
    }
}

.post-list__icon {
    margin-left: 1em;
    margin-right: 0;
}

/*===================
* Single post style (Common)
===================*/
.single-post__title {
    border-left: getColor(accent1) .2em solid;
    padding-left: .5em;
    font-size: 2.4rem;
    background-color: #eee;
    margin-bottom: 1em;
    line-height: 2;
}
.single-post__date {
    color: #666;
    font-size: 1.2rem;
    margin-bottom: .5em;
}
.single-post__content {
    padding-top: 1em;
    & p {
        margin-bottom: 1em;
    }
    & ul {
        padding-left: 1em;
        margin-top: 0;
    }
}
.single-post-nav {
    margin-bottom: 3em;
}
.single-post-pager {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    border: getColor(accent1) 2px solid;
    @include fontColor(accent1);
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
    &__link {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }
    &__icon {
      // width: 1em;
      // height: 1em;
      // background-color: green;
      display: flex;
      flex-wrap: nowrap;
      & .link-icon {
          margin-left: .5em;
          margin-right: .5em;
      }
    }
  }

/*===================
* Works.vue
===================*/

/*===================
* Fontawesomecheetsheet.vue
===================*/
.fa-table {
    width: 100%;
    margin-bottom: 5em;
    border-collapse: collapse;
    font-size: 1.2rem;
    & td, & th {
        border: 1px solid #bbb;
        padding: .2em;
        @include mq() {
            padding: .5em;
        }
    }
    &__row--heading {
        @include bgColor(accent1);
        color: #fff;
    }
    &__row--detail:nth-of-type(2n) {
        background-color: #eee;
    }
    &__cell--icon {
        text-align: center;
        // max-width: 3em;
        & svg {
            margin: 0;
        }
    }
    &__cell--prefix {
        text-align: center;
    }
    &__cell--code {
        white-space: nowrap;
        max-width: 10em;
        overflow-x: auto;
        @include mq() {
            max-width: 20em;
        }
        & code {
            border: 1px solid #ddd;
            background-color: #eee;
            color: #c00;
        }
    }
}