/*==========================
* Target: Global, index.vue
* Rule: MindBEMding
* Author: Rapahel-D
* Type: SSG
* Description: Fack me!(female only)
==========================*/
/*==========================
Layout
==========================*/
.l-section {
  margin-top: 3em;
  margin-bottom: 3em;
  padding-right: 0;
  padding-left: 0; }

.l-wrapper {
  max-width: 960px;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 1em;
  padding-left: 1em; }

.l-side {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 1em;
  padding-left: 1em; }

.l-header {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 1em;
  padding-left: 1em; }

.l-footer {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 1em;
  padding-left: 1em; }

/*==========================
Component
==========================*/
/*==========================
Modules
==========================*/
.single-post-pager {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #f0f;
  justify-content: space-between; }
  .single-post-pager__list {
    display: flex;
    flex-wrap: nowrap; }
  .single-post-pager__icon {
    display: block; }
    .single-post-pager__icon--prev {
      float: left; }
    .single-post-pager__icon--next {
      float: right; }
    .single-post-pager__icon svg {
      color: red; }

