/*==========================
* Target: Global, index.vue
* Rule: MindBEMding
* Author: Rapahel-D
* Type: SSG
* Description: Fack me!(female only)
==========================*/
/*==========================
Layout
==========================*/
/*==========================
Component
==========================*/
/*==========================
Modules
==========================*/
.single-post-pager {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #f0f;
  justify-content: space-between; }
  .single-post-pager__list {
    display: flex;
    flex-wrap: nowrap; }
  .single-post-pager__icon {
    display: block; }
    .single-post-pager__icon--prev {
      float: left; }
    .single-post-pager__icon--next {
      float: right; }
    .single-post-pager__icon svg {
      color: red; }

