/*===================
*
===================*/
/*===================
* Fontawesomecheetsheet.vue
===================*/
.fa-table {
  width: 100%;
  margin-bottom: 5em;
  border-collapse: collapse;
  font-size: 1.2rem; }
  .fa-table td, .fa-table th {
    border: 1px solid #bbb;
    padding: .2em; }
    @media screen and (min-width: 768px) {
      .fa-table td, .fa-table th {
        padding: .5em; } }
  .fa-table__row--heading {
    background-color: #00a672;
    color: #fff; }
  .fa-table__row--detail:nth-of-type(2n) {
    background-color: #eee; }
  .fa-table__cell--icon {
    text-align: center; }
    .fa-table__cell--icon svg {
      margin: 0; }
  .fa-table__cell--prefix {
    text-align: center; }
  .fa-table__cell--code {
    white-space: nowrap;
    max-width: 10em;
    overflow-x: auto; }
    @media screen and (min-width: 768px) {
      .fa-table__cell--code {
        max-width: 20em; } }
    .fa-table__cell--code code {
      border: 1px solid #ddd;
      background-color: #eee;
      color: #c00; }

